@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color:#bf6f13;
    --secondary-color:#e88e27;
}
body{
    background-color: var(--primary-color);
    
    
}
.cards{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    margin-left: 70px;
    column-gap: 20px;
    row-gap: 20px;
    
}
.cartet{
    width: 20px;
}